/* SCSS declarations go here */
@import "main/index.scss";

html{
    overflow-y: auto;
}


.logo-svg-wrapper {
    text-align: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 50%;

    margin: 0 auto;
    width: 220px;
}


.logo-shape {
    stroke-dasharray: 180 540;
    stroke-dashoffset: -305;
    stroke-width: 8px;
    fill: transparent;
    stroke: $brand-color;
    border-bottom: 5px solid rgba(0, 0, 0, 0.08);
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.logo-text {
    transform: translateX(-1%);
    font-size: 25px;
    line-height: 32px;
    color: $brand-color;
    top: -55px;
    position: relative;
}

.logo-svg-wrapper:hover .logo-shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

.small-margin{
  margin: 20px;
}

.strong-label{
  font-weight: bold;
  font-size: 1.4em;
}

.drop-shadow {
    filter: drop-shadow(0px 0px 20px rgba(0,0,0,.2));
    border-radius: 3px;
}
.drop-shadow-bottom {
    filter: drop-shadow(0px 0px 20px rgba(0,0,0,.2));
}

.btngroup {
  font-size: 0;
  line-height: 1;
  white-space: nowrap;
  display: inline; // ?

  &--btn { // sass bem is cool
    cursor: pointer;
    font-size: 1.3rem;
    letter-spacing: .1em;
    text-decoration: none;
    background: transparent;
    border: 1px solid rgba(0,0,0,0.15);
    //margin: 0 -1px -1px;
    border-left-width: 0;
    display: inline-block;
    padding: .5em 1.25em;
    outline: 0; // no glow crap

    &--active {
      background: #0A64A0;
      color: #fff;
      &:hover {
        background: #0A64A0 !important;
        color: #fff !important;
      }
    }
    &:first-child {
      border-left-width: 1px;
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &:link {
      color: #bdc3c7;
    }

    &:visted {
      color: #bdc3c7;
    }

    &:hover {
      background: rgba(0,0,0,0.15);
    }

    &:active {
      background: #0A64A0;
      color: #fff;
    }
  }
}
